h1 {
    color: white;
    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
}
.TradingPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}